<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HTTP_PORT" value="5500" />
    <add key="DVR_IP" value="192.168.0.220" />
    <add key="DVR_PORT" value="40001" />
    <add key="DVR_USERNAME" value="admin" />
    <add key="DVR_PASSWORD" value="00000000" />
    <add key="IMG_HEIGHT" value="480" />
    <add key="IMG_WIDTH" value="640" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>